<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>780752413638-5dhfpftjnj79fh1bkokqksus30v27gdn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.780752413638-5dhfpftjnj79fh1bkokqksus30v27gdn</string>
	<key>API_KEY</key>
	<string>AIzaSyC9i3gR2Iw3y6YO5CdYBs86UiRvbaNQjxY</string>
	<key>GCM_SENDER_ID</key>
	<string>780752413638</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mosab.thenetwork.theNetwork</string>
	<key>PROJECT_ID</key>
	<string>the-netwrok</string>
	<key>STORAGE_BUCKET</key>
	<string>the-netwrok.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:780752413638:ios:64945c8a764067c89408c7</string>
	<key>DATABASE_URL</key>
	<string>https://the-netwrok-default-rtdb.firebaseio.com</string>
</dict>
</plist>